%form{ng-submit: "submit()"}

  %sign_in_providers

  .sign-up-form__email
    %validation_errors{subject: "registration", field: "name"}
    %label{for: "name", translate: "sign_up_form.name_label"}
    %input.form-control#user-email{placeholder: "{{ 'sign_up_form.name_placeholder' | translate }}", ng-required: true, ng-model: "registration.name"}

  .sign-up-form__email
    %validation_errors{subject: "registration", field: "email"}
    %label{for: "email", translate: "sign_up_form.email_label"}
    %input.form-control#user-email{placeholder: "{{ 'sign_up_form.email_placeholder' | translate }}", ng-required: true, ng-model: "registration.email"}

  .sign-up-form__password
    %validation_errors{subject: "registration", field: "password"}
    %label{for: "password", translate: "sign_up_form.password_label"}
    %input.form-control#user-password{type: "password", ng-required: true, ng-model: "registration.password"}

  .sign-up-form__password-confirmation
    %validation_errors{subject: "registration", field: "passwordConfirmation"}
    %label{for: "password_confirmation", translate: "sign_up_form.password_confirmation_label"}
    %input.form-control#user-password-confirmation{type: "password", ng-required: true, ng-model: "registration.passwordConfirmation"}

  .sign-up-form__honeypot.hidden
    %input{type: "text", ng-model: "registration.honeypot"}

  .lmo-flex.lmo-flex__space-between
    %button.lmo-btn--cancel{ng-if: "!preventClose", ng-click: "$close()", type: "button", translate: "common.action.cancel"}
    %a{ng-click:"signIn()", translate: "sign_up_form.sign_in"}
    %button.lmo-btn--submit.sign-in-form__submit-button{type: "submit", translate: "sign_up_form.sign_up"}
